<!--The content below is only a placeholder and can be replaced.-->
<nav>
        <a routerLink = "/aboutus" >About us</a>
</nav>

<div class="row">
<div class="col-sm-4">
    <div><button md-button color="primary" (click)= "studentListing()" >Students</button></div>
    <br>
    <div><button md-button color="primary" (click)= "teacherListing()">Teachers</button></div>
</div>
<div class="col-sm-8">
        <div *ngIf = "student">
                <app-student></app-student>
        </div>
        <div *ngIf = "teacher">
                <app-teacher></app-teacher>
        </div>
</div>
</div>
<router-outlet></router-outlet>

